{% extends 'base.html' %}
{% load static %}
{% block title %}
  All Modules
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'assets/css/management/all_modules.css' %}" />
{% endblock %}

{% block content %}
  <div class="page-container">
    <div class="page-header">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="h3 mb-0">Modules</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="{% url 'management_dashboard' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Modules</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">All Modules</h5>
        <a href="{% url 'add_module' %}" class="btn btn-primary btn-add-module"><i class="bi bi-plus-circle me-2"></i>Add Module</a>
      </div>
      <div class="card-body">
        {% if messages %}
          <div class="mb-4">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        <div class="table-responsive">
          <table id="projectsTable" class="table">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>Name</th>
                <th>Description</th>
                <th>Project</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Edited On</th>
                <th>Is Active</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for module in data %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ module.name }}</td>
                  <td>
                    <div class="description-preview" style="cursor: pointer" onclick="toggleDescription(this)">
                      <span class="short-description">{{ module.description|truncatechars:20 }}</span>
                      <span class="full-description" style="display: none">{{ module.description }}</span>
                    </div>
                  </td>
                  <td>{{ module.project.name }}</td>
                  <td>{{ module.created_by }}</td>
                  <td>{{ module.created_on|date:'Y-m-d H:i' }}</td>
                  <td>{{ module.edited_on|date:'Y-m-d H:i' }}</td>
                  <td>{{ module.is_active|yesno:'Yes,No' }}</td>
                  <td>
                    {% comment %}
                    <a href="#" class="btn btn-link" title="Edit"><i class="bi bi-pencil"></i></a>
                    {% endcomment %}
                    <a href="{% url 'delete_module' module.id %}" class="btn btn-sm btn-danger delete-btn"><i class="bi bi-trash"></i> Delete</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- End DataTable -->
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <!-- DataTables CSS and JS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

  <script>
    // Initialize DataTable
    $(document).ready(function () {
      $('.delete-btn').click(function (event) {
        event.preventDefault()
        const isConformed = confirm('Are you sure you want to delete?')
        if (isConformed) {
          window.location.href = $(this).attr('href')
        }
      })
    
      $('#projectsTable').DataTable({
        paging: true,
        searching: true,
        ordering: true,
        info: true
      })
    })
    
    function toggleDescription(element) {
      const shortDesc = element.querySelector('.short-description')
      const fullDesc = element.querySelector('.full-description')
    
      if (fullDesc.style.display === 'none') {
        shortDesc.style.display = 'none'
        fullDesc.style.display = 'inline'
      } else {
        shortDesc.style.display = 'inline'
        fullDesc.style.display = 'none'
      }
    }
  </script>
{% endblock %}
